.order_list {
  margin-top: 50px;
  height: 400px;
}
.order_list__product {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0 10px 0;
}

.order_list__product-img {
  width: 90px;
  height: 55px;
  border-radius: 10px;
}
.order_list__product-name {
  width: 63px;
}
.order_list__product-price {
  display: flex;
  margin: 0;
  color: #8c8c8cb9;
}
.order_list__product-quiantity-input {
  width: 30px;
  margin-right: 10px;
  border: none;
}
.order_list__product-quiantity {
  font-weight: bold;
  font-family: Quicksand;
}

.order_list__product-name {
  font-weight: bold;
  font-family: Quicksand;
}

.order_list {
  overflow-y: scroll;
}
